.main-content {
  display: flex;
  /* justify-content: space-around; */
}

/* Categories Components */

.categories {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 100px;
}

/* Product components  */

.products {
  display: flex;
  flex-direction: column;
}

.products-title {
  font-size: 27px;
}

/* Card components */
.card {
  border: 1px solid gray;
  width: 191px;
  height: 352px;
  margin: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.active {
  color: #f8cb00;
}

/* Modal */

.modal {
  position: absolute;
  top: 3%;
  background: lightgrey;
  width: 500px;
  height: 500px;
}
